# For details on configuring your settings.conf file, please read the 
# README at https://github.com/grokability/kandji2snipe

[kandji]
tenant = TENANTNAME
region = us
apitoken = kandji-api-bearer-token-here

[snipe-it]
url = https://your_snipe_instance.com
apikey = snipe-api-key-here
# timezone should match APP_TIMEZONE="timezone" in your Snipe-IT .env file 
timezone = America/Los_Angeles
manufacturer_id = 1
defaultStatus = 2
mac_model_category_id = 5
iphone_model_category_id = 6
ipad_model_category_id = 7
appletv_model_category_id = 8
# Custom fieldset values are not required unless mapping Kandji data to Snipe-IT custom fields 
mac_custom_fieldset_id = 
iphone_custom_fieldset_id = 
ipad_custom_fieldset_id = 
appletv_custom_fieldset_id = 

[asset-tag]
# If an asset tag does not exist in Kandji and Snipe-IT, the script will create one
# using the pattern KANDJI-<SERIAL NUMBER>.  To use the custom patterns, change the
# line below to "use_custom_pattern = yes" and adjust the patterns as desired.
use_custom_pattern = no

# This is only required if use_custom_pattern = yes
# Patterns must contain a prefix and variable.
# Examples of Kandji device attribute variables:
# Serial Number = hardware_overview serial_number
# Device ID = general device_id 
# Device Name = general device_name
pattern_mac = MAC- hardware_overview serial_number
pattern_iphone = IPHONE- hardware_overview serial_number
pattern_ipad = IPAD- hardware_overview serial_number
pattern_appletv = ATV- hardware_overview serial_number

# API Mappings are not required unless mapping Kandji data to Snipe-IT custom fields 

[mac-api-mapping]
_snipeit_mac_address_1 = network mac_address
_snipeit_blueprint_2 = general blueprint_name
_snipeit_filevault_enabled_3 = filevault filevault_enabled
_snipeit_kandji_device_id_4 = general device_id

[iphone-api-mapping]
_snipeit_mac_address_1 = network mac_address
_snipeit_blueprint_2 = general blueprint_name
_snipeit_kandji_device_id_4 = general device_id

[ipad-api-mapping]
_snipeit_mac_address_1 = network mac_address
_snipeit_blueprint_2 = general blueprint_name
_snipeit_kandji_device_id_4 = general device_id

[appletv-api-mapping]
_snipeit_mac_address_1 = network mac_address
_snipeit_blueprint_2 = general blueprint_name
_snipeit_kandji_device_id_4 = general device_id
