[kandji]
url = https://TENANTNAME.clients.us-1.kandji.io
apikey = kandji-api-bearer-token-here

[snipe-it]
url = https://fqdn.to.your.snipe-it.here
apikey = snipe-api-bearer-token-here
manufacturer_id = 1
defaultStatus = 2
mac_model_category_id = 5
iphone_model_category_id = 6
ipad_model_category_id = 7
appletv_model_category_id = 8
# Asset Tag is not required, uncomment line 19 to customize
# If not specified, the default formulas are...
# Macs - kandji-{serial_number}
# iPhones & iPads - kandji-a-{serial_number}
# Apple TVs - kandji-tv-{serial_number}
#asset_tag = general serial_number 

[computers-api-mapping]
name = general name
_snipeit_mac_address_1 = general mac_address

[mobile_devices-api-mapping]
_snipeit_imei_4	= network imei
name = general name

[mac-api-mapping]
name = general name
_snipeit_mac_address_1 = general mac_address

[iphone-api-mapping]
_snipeit_imei_4	= network imei
name = general name

[ipad-api-mapping]
_snipeit_imei_4	= network imei
name = general name

[appletv-api-mapping]
name = general name

[user-mapping] # The field from Kandji that you want to search Snipe-IT with
jamf_api_field = location username
